/* .container-login2:has(.register-error-text) .register-button-show-password,
.container-login2:has(.register-error-text2) .register-button-show-password {
    top: 46.1%;
}

.container-login2:has(.register-error-text):has(.register-error-text2) .register-button-show-password {
    top: 43.2%;
} */

/* .register-button-show-password {
    padding: 0.4rem 0.4rem 0rem 0.4rem;
    background: transparent;
    border: none !important;
    border-radius: 20px;
    position: absolute;
    right: 13.7%;
    top: 49.8%;
    color: #b6b6b6;
    transition: color 0.2s ease;
} */

.register-button-show-password {
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%) !important;
    background: transparent !important;
    border: none !important;
    color: #b6b6b6 !important;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease !important;
    box-shadow: none !important;
}

.register-button-show-password:active {
    transition: color 0.2s ease !important;
    transform: translateY(-50%) !important;
    box-shadow: none !important;
}

.register-button-show-password:disabled:hover {
    color: #b6b6b6 !important;
    box-shadow: none !important;
}

.register-button-show-password:hover {
    background: transparent !important;
    color: #ffffff !important;
    transition: color 0.2s ease !important;
    transform: translateY(-50%) !important;
    box-shadow: none !important;
}

.register-error-text,
.register-error-text2 {
    color: rgb(255, 95, 95);
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
    margin-bottom: 10px;
}